<div class="condition-selector">
  <div class="form-group form-group-whole-line">
    <PowerSelect
      @options={{this.indexProperties}}
      @selected={{this.selectedConditionProperty}}
      @onChange={{this.conditionPropertyChanged}}
      @searchEnabled={{true}}
      @searchField="path"
      @renderInPlace={{true}}
      @placeholder={{tt this "propertySelectorPlaceholder"}}
      class="property-selector"
      as |indexProperty|
    >
      <span class={{if (not indexProperty.isRealProperty) "special-property"}}>
        {{indexProperty.path}}
      </span>
    </PowerSelect>
  </div>
  {{#if this.comparators.length}}
    <div class="comparator-main-container">
      <div class="form-group form-group-no-shrink">
        {{#if (gt this.comparators.length 1)}}
          <PowerSelect
            @options={{this.comparators}}
            @selected={{this.selectedConditionComparator}}
            @onChange={{this.conditionComparatorChanged}}
            @renderInPlace={{true}}
            class="comparator-selector"
            as |comparator|
          >
            {{tt this (concat "comparators." comparator)}}
          </PowerSelect>
        {{else}}
          <span class="comparator-selector">
            {{tt this (concat "comparators." this.comparators.[0])}}
          </span>
        {{/if}}
      </div>
      <QueryBuilder::ConditionComparatorValueEditor
        @mode="create"
        @valuesBuilder={{@valuesBuilder}}
        @comparator={{this.selectedConditionComparator}}
        @value={{this.conditionComparatorValue}}
        @onValueChange={{this.conditionComparatorValueChanged}}
        class="form-group-fill-line"
      />
    </div>
    <div class="form-group-whole-line form-group">
      <BsButton
        class="accept-condition"
        disabled={{not this.isConditionDataValid}}
        @type="primary"
        @size="sm"
        @onClick={{this.conditionSelected}}
      >
        {{tt this "acceptCondition"}}
      </BsButton>
    </div>
  {{/if}}
</div>
{{yield}}
