<ul class="operator-selector">
  {{#each this.operatorsSpec as |operator|}}
    <li>
      <BsButton
        class="operator operator-{{operator.name}}"
        disabled={{operator.disabled}}
        @type="secondary"
        @size="sm"
        @outline={{true}}
        @onClick={{fn this.onOperatorSelected operator.name}}
      >
        {{tt this (concat "operators." operator.name)}}
      </BsButton>
    </li>
  {{/each}}
</ul>
{{yield}}
