<div class="query-results">
  {{#if @queryResults.results}}
    <QueryResults::VisiblePropertiesSelector
      @queryResults={{@queryResults}}
      @onSelectionChange={{this.visiblePropertiesChanged}}
    />
    <ul class="results-list">
      {{#each @queryResults.results as |queryResult|}}
        <QueryResults::Result
          @queryResult={{queryResult}}
          @visibleProperties={{this.visibleProperties}}
        />
      {{/each}}
    </ul>
  {{/if}}
</div>
{{yield}}
