<div class="query-results">
  {{#if @queryResults.results}}
    <QueryResults::FilteredPropertiesSelector
      @queryResults={{@queryResults}}
      @onSelectionChange={{this.filteredPropertiesChanged}}
    />
    <ul class="results-list">
      {{#each @queryResults.results as |queryResult|}}
        <QueryResults::Result
          @queryResult={{queryResult}}
          @filteredProperties={{this.filteredProperties}}
        />
      {{/each}}
    </ul>
  {{/if}}
</div>
{{yield}}
