<input
  type="text"
  value={{this.query}}
  {{on "input" this.queryChanged}}
  {{on "keydown" (invoke-on-enter @performQuery)}}
>
<button {{on "click" @performQuery}}>Query</button>
<div class="form-control query-builder">
  <QueryBuilder::SingleSlotBlock @queryBlock={{this.rootQueryBlock}} class="root-block"/>
</div>
{{yield}}
