<div class="query-builder">
  <div class="form-control query-builder-input">
    <QueryBuilder::SingleSlotBlock
      @queryBlock={{this.rootQueryBlock}}
      @indexProperties={{this.indexProperties}}
      class="root-block"/>
  </div>
  <BsButton
    @type="primary"
    @onClick={{this.performQuery}}
    class="submit-query"
  >
    {{tt this "performQueryButton"}}
  </BsButton>
  {{yield}}
</div>
