<div class="query-results">
  <QueryResults::FilteredPropertiesSelector
    @queryResults={{@queryResults}}
    @onSelectionChange={{this.filteredPropertiesChanged}}
  />
  {{#if @queryResults.results}}
    <QueryResults::Pagination
      @resultsCount={{@queryResults.totalResultsCount}}
      @activePageNumber={{this.activePageNumber}}
      @pageSize={{this.pageSize}}
      @onPageChange={{this.onPageChange}}
    />
    <ul class="results-list">
      {{#each @queryResults.results as |queryResult|}}
        <QueryResults::Result
          @queryResult={{queryResult}}
          @filteredProperties={{this.filteredProperties}}
        />
      {{/each}}
    </ul>
    <QueryResults::Pagination
      @resultsCount={{@queryResults.totalResultsCount}}
      @activePageNumber={{this.activePageNumber}}
      @pageSize={{this.pageSize}}
      @onPageChange={{this.onPageChange}}
    />
  {{/if}}
</div>
{{yield}}
