<div class="query-builder">
  <div class="form-control query-builder-input">
    <QueryBuilder::SingleSlotBlock
      @queryBlock={{this.rootQueryBlock}}
      @indexProperties={{this.indexProperties}}
      class="root-block"
    />
  </div>
  <div class="btn-group" role="group">
    <BsButton
      @type="primary"
      @onClick={{this.performQuery}}
      class="submit-query"
    >
      {{tt this "performQueryButton"}}
    </BsButton>
    <QueryBuilder::CurlGenerator
      @rootQueryBlock={{this.rootQueryBlock}}
      @filteredProperties={{@filteredProperties}}
      @onGenerateCurl={{@onGenerateCurl}}
    />
  </div>
  {{yield}}
</div>
