<div class="query-builder">
  <div class="form-control query-builder-input">
    <QueryBuilder::OperatorBlock
      @queryBlock={{this.rootQueryBlock}}
      @indexProperties={{this.indexProperties}}
      class="root-block"
    />
  </div>
  <BsButton
    @type="primary"
    @onClick={{this.performQuery}}
    class="submit-query btn-input-padding"
  >
    {{tt this "performQueryButton"}}
  </BsButton>
  <QueryBuilder::CurlGenerator
    @rootQueryBlock={{this.rootQueryBlock}}
    @filteredProperties={{@filteredProperties}}
    @sortProperty={{@sortProperty}}
    @sortDirection={{@sortDirection}}
    @onGenerateCurl={{@onGenerateCurl}}
  />
  {{yield}}
</div>
