<div class="query-results">
  <div class="results-header">
    <QueryResults::FilteredPropertiesSelector
      @queryResults={{@queryResults}}
      @onSelectionChange={{this.filteredPropertiesChanged}}
    />
    {{#if @queryResults.results}}
      <QueryResults::SortSelector 
        @index={{this.index}}
        @sortProperty={{this.sortProperty}}
        @sortDirection={{this.sortDirection}}
        @onSortChange={{this.onSortChange}}
      />
      <QueryResults::Pagination
        @resultsCount={{@queryResults.totalResultsCount}}
        @activePageNumber={{this.activePageNumber}}
        @pageSize={{this.pageSize}}
        @onPageChange={{this.onPageChange}}
        @onPageSizeChange={{this.onPageSizeChange}}
      />
    {{/if}}
  </div>
  {{#if @queryResults.results}}
    <ul class="results-list">
      {{#each @queryResults.results as |queryResult|}}
        <QueryResults::Result
          @queryResult={{queryResult}}
          @filteredProperties={{this.filteredProperties}}
        />
      {{/each}}
    </ul>
    <QueryResults::Pagination
      @resultsCount={{@queryResults.totalResultsCount}}
      @activePageNumber={{this.activePageNumber}}
      @pageSize={{this.pageSize}}
      @onPageChange={{this.onPageChange}}
      @onPageSizeChange={{this.onPageSizeChange}}
    />
  {{/if}}
</div>
{{yield}}
