<div class="query-results">
  <QueryResults::FilteredPropertiesSelector
    @queryResults={{@queryResults}}
    @onSelectionChange={{this.filteredPropertiesChanged}}
  />
  {{#if @queryResults.results}}
    <ul class="results-list">
      {{#each @queryResults.results as |queryResult|}}
        <QueryResults::Result
          @queryResult={{queryResult}}
          @filteredProperties={{this.filteredProperties}}
        />
      {{/each}}
    </ul>
  {{/if}}
</div>
{{yield}}
