<div class="resource-load-error">
  <div class="icon-container">
    <FaIcon @icon="times-circle"/>
  </div>
  <div class="error-container">
    <strong class="main-message">{{tt this "defaultMainMessage"}}</strong>
    {{#if @details}}
      <a
        role="button"
        class="show-details text-danger"
        {{on "click" this.toggleShowDetails}}
      >
        {{tt this (if this.areDetailsExpanded "hideDetails" "showDetails")}}
      </a>
      <BsCollapse @collapsed={{not this.areDetailsExpanded}}>
        <code class="details-json">{{this.stringifiedDetails}}</code>
      </BsCollapse>
    {{/if}}
    {{yield}}
  </div>
</div>
