<div class="query-builder-block-selector">
  <ul class="operators-list">
    {{#each (array "and" "or" "not") as |operator|}}
      <li>
        <BsButton
          class="operator operator-{{operator}}"
          @type="light"
          @size="sm"
          @onClick={{fn this.onOperatorAdd operator}}
        >
          {{tt this (concat "operators." operator)}}
        </BsButton>
      </li>
    {{/each}}
  </ul>
  <div class="condition-creator">
    <PowerSelect
      @options={{@indexProperties}}
      @selected={{this.selectedConditionProperty}}
      @onChange={{this.conditionPropertyChanged}}
      @searchEnabled={{true}}
      @searchField="path"
      @renderInPlace={{true}}
      class="property-selector"
      as |indexProperty|
    >
      {{indexProperty.path}}
    </PowerSelect>
    {{#if this.comparators.length}}
      <PowerSelect
        @options={{this.comparators}}
        @selected={{this.selectedConditionComparator}}
        @onChange={{this.conditionComparatorChanged}}
        @renderInPlace={{true}}
        class="comparator-selector"
        as |comparator|
      >
        {{tt this (concat "comparators." comparator)}}
      </PowerSelect>
    {{/if}}
    {{#if (eq this.comparatorEditor.type "dropdown")}}
      <PowerSelect
        @options={{this.comparatorEditor.values}}
        @selected={{this.conditionComparatorValue}}
        @onChange={{this.conditionComparatorValueChanged}}
        @renderInPlace={{true}}
        class="comparator-value-selector"
        as |value|
      >
        {{value}}
      </PowerSelect>
    {{else if (eq this.comparatorEditor.type "text")}}
      <input
        type="text"
        value={{this.conditionComparatorValue}}
        {{on "input" this.conditionComparatorValueChanged}}
        class="comparator-value-input"
      >
    {{else if (eq this.comparatorEditor.type "date")}}
      <input
        type="checkbox"
        checked={{this.conditionComparatorValue.timeEnabled}}
        class="include-time"
        {{on "change" this.conditionComparatorValueChanged}}
      >
      {{#if this.conditionComparatorValue.timeEnabled}}
        <EmberFlatpickr
          @date={{readonly this.conditionComparatorValue.datetime}}
          @onChange={{this.conditionComparatorValueChanged}}
          @static={{true}}
          @enableTime={{true}}
          @time_24hr={{true}}
          @enableSeconds={{true}}
        />
      {{else}}
        <EmberFlatpickr
          @date={{readonly this.conditionComparatorValue.datetime}}
          @onChange={{this.conditionComparatorValueChanged}}
          @static={{true}}
        />
      {{/if}}
    {{/if}}
    <BsButton
      class="accept-condition"
      @type="light"
      @size="sm"
      @onClick={{this.onConditionAdd}}
    >
      {{tt this "acceptCondition"}}
    </BsButton>
  </div>
</div>

{{yield}}
