<div class="query-builder-block-adder">
  <BsButton class="add-trigger" @size="sm" @type="secondary" disabled={{@disabled}}>
    <FaIcon @icon="plus" />
    <AttachPopover
      @showOn="click"
      @hideOn="clickout"
      @interactive={{true}}
      @arrow={{true}}
      @placement="auto"
      @lazyRender={{true}}
      as |popover|
    >
      <QueryBuilder::BlockSelector
        @indexProperties={{@indexProperties}}
        @onOperatorAdd={{fn this.onBlockAdd popover.hide}}
        @onConditionAdd={{fn this.onBlockAdd popover.hide}}
      />
    </AttachPopover>
  </BsButton>
  {{yield}}
</div>
