<div
  class="query-builder-block-visualiser {{if isDirectlyHovered "directly-hovered"}}"
  {{closest-hovered selector=".query-builder-block-visualiser" handler=this.directlyHovered}}
>
  {{#component (concat "query-builder/" @queryBlock.constructor.renderer)
    queryBlock=@queryBlock
    indexProperties=@indexProperties
  }}
    <BsButton
      @type="secondary"
      class="block-button block-settings"
    >
      <FaIcon @icon="wrench" />
      <AttachPopover
        @showOn="click"
        @hideOn="clickout"
        @interactive={{true}}
        @arrow={{true}}
        @placement="auto"
        @lazyRender={{true}}
        as |popover|
      >
        <QueryBuilder::BlockSelector
          @mode="edit"
          @editBlock={{@queryBlock}}
          @onBlockReplace={{fn this.onBlockReplace popover.hide}}
        />
      </AttachPopover>
    </BsButton>
    <BsButton
      @onClick={{@onBlockRemove}}
      @type="danger"
      class="block-button remove-block"
    >
      <FaIcon @icon="times" />
    </BsButton>
  {{/component}}
</div>
