<div
  class="query-builder-block-visualiser"
  {{add-direct-hover-class}}
  {{on "click" clicked}}
  {{did-insert this.didInsert}}
>
  {{#component (concat "query-builder/" @queryBlock.constructor.renderer)
    queryBlock=@queryBlock
    indexProperties=@indexProperties
    onConditionEditionStart=@onConditionEditionStart
    onConditionEditionEnd=@onConditionEditionEnd
    onConditionEditionValidityChange=@onConditionEditionValidityChange
    onBlockRemoved=@onBlockRemoved
  }}
    <QueryBuilder::BlockSettings
      @queryBlock={{@queryBlock}}
      @onBlockReplace={{@onBlockReplace}}
      @isShown={{this.areSettingsVisible}}
      @onSettingsClose={{this.onSettingsClose}}
    />
    <BsButton
      @onClick={{@onBlockRemove}}
      @type="danger"
      class="block-button remove-block clickable"
    >
      <FaIcon @icon="times" />
    </BsButton>
  {{/component}}
</div>
