<div class="query-builder-block-adder">
  <BsButton class="add-trigger" @size="sm" disabled={{@disabled}}>
    +
    <AttachPopover
      @showOn="click"
      @hideOn="click clickout"
      @arrow={{true}}
      @placement="auto"
      @lazyRender={{true}}
      as |popover|
    >
      <QueryBuilder::BlockSelector
        @onOperatorAdd={{fn this.onBlockAdd popover.hide}}
      />
    </AttachPopover>
  </BsButton>
  {{yield}}
</div>
