<div class="query-builder-block-selector">
  <div class="operators-section">
    <h1>{{tt this "operatorsHeader"}}</h1>
    <QueryBuilder::BlockSelector::OperatorSelector
      @onOperatorSelected={{this.operatorAdded}}
    />
  </div>
  <h1>{{tt this "conditionHeader"}}</h1>
  <QueryBuilder::BlockSelector::ConditionSelector
    @indexProperties={{@indexProperties}}
    @onConditionSelected={{this.conditionAdded}}
  />
</div>
{{yield}}
