<div class="query-builder-block-selector {{this.mode}}-block-selector {{if (not this.hideConditionCreation) "with-conditions"}}">
  {{#if (eq this.mode "create")}}
    {{#if (not this.hideConditionCreation)}}
      <div class="condition-section">
        <h1>{{tt this "conditionHeader"}}</h1>
        <QueryBuilder::BlockSelector::ConditionSelector
          @indexProperties={{@indexProperties}}
          @onConditionSelected={{this.conditionAdded}}
        />
      </div>
      <div class="or-line">{{tt this "orLineText"}}</div>
    {{/if}}
    <div class="operators-section add-operator-section">
      <h1>{{tt this "operatorsHeader"}}</h1>
      <QueryBuilder::BlockSelector::OperatorSelector
        @onOperatorSelected={{this.operatorAdded}}
      />
    </div>
  {{else}}
    {{#if this.isEditBlockAnOperator}}
      <div class="operators-section change-to-section">
        <h1>{{tt this "changeToOperatorHeader"}}</h1>
        <QueryBuilder::BlockSelector::OperatorSelector
          @onOperatorSelected={{this.changeToOperator}}
          @operators={{array 'and' 'or' 'not' 'none'}}
          @disabledOperators={{this.disabledOperatorsInChangeToSection}}
        />
      </div>
      <div class="or-line">{{tt this "orLineText"}}</div>
    {{/if}}
    <div class="operators-section surround-section">
      <h1>{{tt this "surroundWithOperatorHeader"}}</h1>
      <QueryBuilder::BlockSelector::OperatorSelector
        @onOperatorSelected={{this.surroundWithOperator}}
      />
    </div>
  {{/if}}
</div>
{{yield}}
