<div class="query-builder-block query-builder-condition-block">
  <code class="property-path {{if (not @queryBlock.property.isRealProperty) "special-property"}}">
    {{@queryBlock.property.path}}
  </code>
  <span class="comparator">{{tt this (concat "comparators." @queryBlock.comparator)}}</span>
  <QueryBuilder::ConditionComparatorValueEditor
    @mode={{this.mode}}
    @comparator={{@queryBlock.comparator}}
    @value={{if (eq this.mode "edit") this.editComparatorValue @queryBlock.comparatorValue}}
    @isValueInvalid={{not this.isEditComparatorValueValid}}
    @onStartEdit={{this.startEdit}}
    @onValueChange={{this.comparatorValueChange}}
    @onStopEdit={{this.stopEdit}}
    @onCancelEdit={{this.cancelEdit}}
  />
  {{yield}}
</div>
