{{#if (or (eq this.mode "create") (eq this.mode "edit"))}}
  <div class="form-group comparator-value-editor {{this.comparatorEditor.type}}-editor" ...attributes>
    {{#if (or
      (eq this.comparatorEditor.type "dropdown")
      (eq this.comparatorEditor.type "space")
    )}}
      <PowerSelect
        @options={{this.comparatorEditor.values}}
        @selected={{this.value}}
        @onChange={{this.valueChanged}}
        @renderInPlace={{true}}
        @registerAPI={{this.registerDropdownApi}}
        @onClose={{this.onStopEdit}}
        class="comparator-value"
        as |value|
      >
        {{#if (eq this.comparatorEditor.type "space")}}
          {{value.name}}
        {{else}}
          {{value}}
        {{/if}}
      </PowerSelect>
    {{else if (eq this.comparatorEditor.type "text")}}
      <input
        type="text"
        value={{this.value}}
        {{on "input" this.valueChanged}}
        {{on "keydown" (invoke-on-enter this.onStopEdit)}}
        {{on "keydown" this.keyDown}}
        {{on "blur" this.onStopEdit}}
        class="comparator-value form-control form-control-sm"
      >
    {{else if (eq this.comparatorEditor.type "date")}}
      <div class="input-group">
        <div class="input-group-prepend">
          <BsButton
            @size="sm"
            @type="secondary"
            @outline={{true}}
            class="include-time {{if this.value.timeEnabled "active"}}"
            onClick={{fn this.valueChanged (not this.value.timeEnabled)}}
            {{did-insert this.includeTimeBtnInserted}}
            {{will-destroy this.includeTimeBtnDestroyed}}
          >
            <FaIcon @icon="clock"/>
            <BsTooltip @title={{tt this "includeTimeInDate"}}/>
          </BsButton>
        </div>
        {{#if this.includeTimeBtnElement}}
          {{#if this.value.timeEnabled}}
            <EmberFlatpickr
              @date={{readonly this.value.datetime}}
              @onChange={{this.valueChanged}}
              @onClose={{this.flatpickrClose}}
              @onReady={{this.flatpickrReady}}
              @ignoredFocusElements={{array includeTimeBtnElement}}
              @static={{true}}
              @altFormat="Y-m-d H:i:S"
              @altInput={{true}}
              @altInputClass="comparator-value form-control form-control-sm"
              @enableTime={{true}}
              @time_24hr={{true}}
              @enableSeconds={{true}}
            />
          {{else}}
            <EmberFlatpickr
              @date={{readonly this.value.datetime}}
              @onChange={{this.valueChanged}}
              @onClose={{this.flatpickrClose}}
              @onReady={{this.flatpickrReady}}
              @ignoredFocusElements={{array includeTimeBtnElement}}
              @static={{true}}
              @altFormat="Y-m-d"
              @altInput={{true}}
              @altInputClass="comparator-value form-control form-control-sm"
            />
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{else}}
  <samp class="comparator-value" {{on "click" this.onStartEdit}} ...attributes>
    {{this.viewModeComparatorValue}}
  </samp>
{{/if}}
{{yield}}
