<div class="query-builder-block query-builder-condition-block">
  <code class="property-path {{if (not @queryBlock.property.isRealProperty) "special-property"}}">
    {{@queryBlock.property.path}}
  </code>
  <span class="comparator">{{tt this (concat "comparators." @queryBlock.comparator)}}</span>
  <QueryBuilder::ConditionComparatorValueEditor
    @mode="view"
    @comparator={{@queryBlock.comparator}}
    @value={{@queryBlock.comparatorValue}}
  />
  {{yield}}
</div>
