<BsButton
  @type="primary"
  @outline={{true}}
  class="query-builder-curl-generator generate-query-request"
>
  {{tt this "triggerLabel"}}
  <AttachPopover
    @showOn="click"
    @hideOn="clickout"
    @interactive={{true}}
    @arrow={{true}}
    @placement="bottom"
    @lazyRender={{true}}
    @onChange={{this.curlPopoverOpened}}
    as |popover|
  >
    <div class="curl-generator-body">
      <PromiseLoader @promise={{this.curlPromise}} as |curlRequest|>
        <textarea class="form-control curl-command-string" spellcheck="false">{{curlRequest}}</textarea>
        <p class="access-token-info">{{tt this "accessTokenInfo" htmlSafe=true}}</p>
      </PromiseLoader>
    </div>
  </AttachPopover>
  {{yield}}
</BsButton>
