<div class="query-builder-block query-builder-multi-slot-block" ...attributes>
  {{#each @queryBlock.slots as |slotBlock|}}
    <QueryBuilder::BlockVisualiser
      @queryBlock={{slotBlock}}
      @indexProperties={{@indexProperties}}
      @onBlockReplace={{fn this.replaceBlock slotBlock}}
      @onBlockRemove={{fn this.removeBlock slotBlock}}
    />
    {{#if @queryBlock.operator}}
      <div class="block-label block-infix-label">
        {{tt this (concat "operators." @queryBlock.operator)}}
      </div>
    {{/if}}
  {{else}}
    <QueryBuilder::BlockAdder
      @onBlockAdd={{this.addBlock}}
      @indexProperties={{@indexProperties}}
    />
    {{#if @queryBlock.operator}}
      <div class="block-label block-infix-label">
        {{tt this (concat "operators." @queryBlock.operator)}}
      </div>
    {{/if}}
  {{/each}}
  <QueryBuilder::BlockAdder
    @onBlockAdd={{this.addBlock}}
    @indexProperties={{@indexProperties}}
    @disabled={{eq @queryBlock.slots.length 0}}
  />

  {{yield}}
</div>
