<div class="filtered-properties-selector">
  <BsButton @size="sm" class="show-properties-selector">
    {{tt this "selectorTrigger"}}
    (<span class="selection-counter">{{this.selectedPropertiesCount}}/{{this.flatModel.length}}</span>)
    <AttachPopover
      @showOn="click"
      @hideOn="clickout click"
      @interactive={{true}}
      @arrow={{true}}
      @lazyRender={{true}}
    >
      <div class="filtered-properties-selector-body">
        <BsButton
          @size="sm"
          @outline={{true}}
          @onClick={{this.selectAll}}
          class="select-all"
        >
          {{tt this "selectAllBtn"}}
        </BsButton>
        <BsButton
          @size="sm"
          @outline={{true}}
          @onClick={{this.deselectAll}}
          class="deselect-all"
        >
          {{tt this "deselectAllBtn"}}
        </BsButton>
        <XTree
          @model={{this.model}}
          @checkable={{true}}
          @recursiveCheck={{true}}
          @collapsedIcon={{component "fa-icon" icon="caret-right"}}
          @expandedIcon={{component "fa-icon" icon="caret-down"}}
          @onCheck={{this.onCheck}}/>
        {{yield}}
      </div>
    </AttachPopover>
  </BsButton>
</div>
