<li class="query-results-result">
  <div class="result-heading" {{on "click" this.toggleExpand}}>
    <div class="left-col-icon">
      <FaIcon @icon={{if isExpanded "caret-down" "caret-right"}} @size="lg"/>
    </div>
    <samp class="result-sample">{{{this.readableJson}}}</samp>
  </div>
  <a class="go-to-file-link" href={{@queryResult.fileBrowserUrl}} target="_blank">
    <span class="left-col-icon">
      <FaIcon @icon="external-link-alt"/>
    </span>
    {{tt this "goToFileLink" fileName=@queryResult.fileName}}
  </a>
  <BsCollapse @collapsed={{not this.isExpanded}}>
    <BsTab class="result-representations" as |tab|>
      <tab.pane @title={{tt this "tableTabTitle"}}>
        <div class="properties-table">
          {{#each this.propertiesForTable as |property|}}
            <div class="property">
              <samp class="property-name">{{{property.key}}}</samp>
              <samp class="property-value">{{{property.value}}}</samp>
            </div>
          {{/each}}
        </div>
      </tab.pane>
      <tab.pane @title={{tt this "jsonTabTitle"}}>
        <textarea class="form-control json-textarea">{{this.stringifiedJsonForTextarea}}</textarea>
      </tab.pane>
    </BsTab>
  </BsCollapse>
  {{yield}}
</li>
